<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><%= h(@page_title) %></title>

		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="robots" content="/robots.txt">
		<meta name="author" content="BJ Neilsen">
		<meta name="copyright" content="BJ Neilsen of rand9 Technologies, <%= "2009"+(Time.now.year > 2009 ? "-"+Time.now.year.to_s : "") %>">
		<meta name="language" content="en">
	
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon">
	  <link href="http://feeds.feedburner.com/rand9" rel="alternate" title="Feed for <%= h(Marley::Configuration.blog.title) %>" type="application/atom+xml">
	  <link href="http://<%= hostname %>/feed/comments" rel="alternate" title="Comments for <%= h(Marley::Configuration.blog.title) %>" type="application/atom+xml">
	  <% if @post %>
	  <link href="http://<%= hostname %>/<%= @post.id %>/feed" rel="alternate" title="Feed for comments on article &ldquo;<%= h(@post.title) %>&rdquo; <%= h(Marley::Configuration.blog.title) %>" type="application/atom+xml">
	  <% end %>

	  <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen">
	
	  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> -->
	  <script type="text/javascript" src="/javascripts/jquery.js"></script>
	  <script type="text/javascript" src="/javascripts/main.js" charset="utf-8"></script>
	
	</head>

	<body id="posts">
		
	  <div id="wrapper">
			<div id="panel" class="about opaque">
				<h2>About <%= rand9text true %></h2>

				<p><img src="http://www.gravatar.com/avatar/c8ef74aab2e973ba0f7da5557e0ba9a9?s=128&d=identicon&r=PG" alt="BJ Neilsen" class="left" style="padding: 0 10px 10px 0;"> rand9 is the brainchild of BJ Neilsen; Software Developer, Outdoor Enthusiast, Husband, and Father of two. Hi.</p>
				<p>I love to focus on creating and deploying complex web systems. The internet has been my canvas for over a decade. I'm constantly reﬁning development practices to implement smart, fast, and efﬁcient solutions. I excel at building software that brings the right experience to the customer.</p>
				<p>While the majority of my career focus has been on the web platform, recent projects have taken me into the mobile development arena, most notable for the iPhone platform. For an exhaustive look at my technical DNA, please refer to my <a href="/static/resume.pdf" title="BJ Neilsen's R&eacute;sum&egrave;">r&eacute;sum&egrave;</a>.</p>
				<p id="copyright">&copy; 2008<%= (Time.now.year > 2008 ? '-'+Time.now.year.to_s : '') %> <%= rand9text true %>, LLC</p>
			</div>
			
			<div id="header">
				<h1 id="logo" title="rand9 Technologies"><a href="/" title="Home"><%= rand9text true %></a></h1>
				<div id="menu">
					<ul class="cf">
						<li<%= ' class="current"' if !is_cur_nav?('projects') %>><a href="/" title="Blog home">blog</a></li>
						<li<%= ' class="current"' if is_cur_nav?('projects') %>><a href="/projects" title="About rand9"x>projects</a></li>
						<li class="pulldown"><a href="javascript:void(0);" title="About rand9" id="about-link">about &darr;</a></li>
					</ul>
				</div>
			</div>
			
			<div id="content" class="cf">
				<div id="guts" class="cf">
					<%= yield %>
				</div>
			</div>
			
			<div id="footer">&nbsp;</div>
			
		</div>

	  <% if Marley::Configuration.ga_code && Sinatra::Application.environment == :production %>
	  <script type="text/javascript">
		  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	  </script>
	  <script type="text/javascript">
		  var pageTracker = _gat._getTracker("<%= Marley::Configuration.ga_code %>");
		  pageTracker._trackPageview();
	  </script>
	  <% end %>

	</body>
</html>
