<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><%= h(@page_title) %></title>

		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="robots" content="/robots.txt">
		<meta name="author" content="BJ Neilsen">
		<meta name="copyright" content="BJ Neilsen of rand9 Technologies, <%= "2009"+(Time.now.year > 2009 ? "-"+Time.now.year.to_s : "") %>">
		<meta name="language" content="en">
	
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon">
	  <link href="http://feeds.feedburner.com/rand9" rel="alternate" title="Feed for <%= h(Marley::Configuration.blog.title) %>" type="application/atom+xml">
	  <link href="http://<%= hostname %>/feed/comments" rel="alternate" title="Comments for <%= h(Marley::Configuration.blog.title) %>" type="application/atom+xml">
	  <% if @post %>
	  <link href="http://<%= hostname %>/<%= @post.id %>/feed" rel="alternate" title="Feed for comments on article &ldquo;<%= h(@post.title) %>&rdquo; <%= h(Marley::Configuration.blog.title) %>" type="application/atom+xml">
	  <% end %>

	  <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen">
	
	  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> -->
	  <script type="text/javascript" src="/javascripts/jquery.js"></script>
	  <script type="text/javascript" src="/javascripts/main.js" charset="utf-8"></script>
	
	</head>

	<body id="posts">
		
	  <div id="wrapper">
			<div id="panel" class="about opaque">
				<h2>About <%= rand9text true %></h2>

				<img src="http://www.gravatar.com/avatar/c8ef74aab2e973ba0f7da5557e0ba9a9?s=128&d=identicon&r=PG" alt="BJ Neilsen" style="float: left; padding: 10px 10px 10px 0;">
				
				<p>rand9 is the brainchild of BJ Neilsen; Software Developer, Designer, Outdoor Enthusiast, Husband, and Father of two. Hi.</p>
				<p>I love to focus on creating and deploying complex web systems. The internet has been my canvas for over a decade. I'm constantly reﬁning development practices to implement smart, fast, and efficient solutions. I excel at building software that brings the right experience to the customer.</p>
				<p>While the majority of my career focus has been on the web platform, recent projects have taken me into the mobile development arena, most notably for the iPhone platform. For an exhaustive look at my technical DNA, please refer to my <a href="/static/pdf/resume.pdf" title="BJ Neilsen's R&eacute;sum&egrave;">r&eacute;sum&egrave;</a>.</p>
				<p>And yes, I <a href="http://www.twitter.com/localshred" title="Twitter @localshred">tweet</a>.</p>
				<p id="copyright" class="quiet">All content &copy; 2008<%= (Time.now.year > 2008 ? '-'+Time.now.year.to_s : '') %> <%= rand9text true %>, LLC</p>
			</div>
			
			<div id="header">
				<h1 id="logo" title="rand9 Technologies"><a href="/" title="Home"><%= rand9text true %></a></h1>
				<div id="menu">
					<ul class="cf">
						<li<%= ' class="current"' if !is_cur_nav?('projects') %>><a href="/" title="blog home">blog</a></li>
						<li<%= ' class="current"' if is_cur_nav?('projects') %>><a href="/projects" title="About rand9"x>projects</a></li>
						<li class="pulldown"><a href="javascript:void(0);" title="About rand9" id="about-link">about &darr;</a></li>
					</ul>
				</div>
			</div>
			
			<div id="content" class="cf">
				<div id="guts" class="cf">
					<!--[if lt IE 7]>
				  <div id="ie6NoMore" style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
				    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
				    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
				      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
				      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
				        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
				        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>
				      </div>
				      <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
				      <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
				      <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
				      <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
				    </div>
				  </div>
				  <![endif]-->
				  
					<%= yield %>
				</div>
			</div>
			
			<div id="footer">&nbsp;</div>
			
		</div>

	  <% if Marley::Configuration.ga_code && Sinatra::Application.environment == :production %>
	  <script type="text/javascript">
		  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	  </script>
	  <script type="text/javascript">
		  var pageTracker = _gat._getTracker("<%= Marley::Configuration.ga_code %>");
		  pageTracker._trackPageview();
	  </script>
	  <% end %>

	</body>
</html>
